EXTENSION_NAME=pg_leader

# Database name will be formed as PGLD_DB_PATHNAME_PREFIX+database_id,
# where database_id as index takes values 0, 1, 2, 3, ..., n, ...
# For instance, if PGLD_DB_PATHNAME_PREFIX=~/db/db
# then postgres database clusters will be inited in directories
# ~/db/db0, ~/db/db1, ~/db/db2, ...
PGLD_DB_PATHNAME_PREFIX=~/db/db

# Nodes with launched pg_leader extension on them will be listens for 
# psql connection on UNIX socket with port PGLD_START_PORT+node_id.
# For instance, 
# ports 5000 for $PGLD_DB_PATHNAME_PREFIX+0, 5001 for $PGLD_DB_PATHNAME_PREFIX+1, and so on
PGLD_START_PORT=5000

# Num of nodes
N_NODES=5

# IP:PORT for each node. 
# Important: only IPv4 supported in format x.x.x.x:p
# Format "x1.x1.x1.x1:p1 x2.x2.x2.x2:p2 x3.x3.x3.x3:p3" 
# or "x1.x1.x1.x1:p1
#     x2.x2.x2.x2:p2
#     x3.x3.x3.x3:p3" 

IPv4_CLUSTER="192.168.10.10:3500
              192.168.10.11:3501
              192.168.10.12:3502
              192.168.10.13:3503
              192.168.10.14:3504"


# --- algorithm specific --- 

# Time in ms (max 999)
# Timeouts for nodes in follower and candidate mode
MIN_TIMEOUT=200
MAX_TIMEOUT=400
# Only in leader mode
HEARTBEAT_TIMEOUT=50

# --- algorithm specific ---

# --- internal algorithm logger (not the postgres logger) ---
# log located in postgres database cluster
ENABLE_LOG=true
LOG_NAME=pg_leader.log
# --- logger ---


# --- test_stand specific --- 

# Network namespace name will be formed as PGLD_NNS_PREFIX+network_namespace_id,
# where network_namespace_id as index takes values 0, 1, 2, 3, ..., n, ...
# For instance, if PGLD_NNS_PREFIX=nns_node
# then network namespace names:
# nns_node0, nns_node1, nns_node2, ...
PGLD_NNS_PREFIX=nns_node

# virtual ethernet interface name in root network namespace side
VETH_ROOT_NAME_PREFIX=veth
# virtual ethernet interface name in others network namespace sides
VETH_LOCAL_NAME_PREFIX=ceth
# bridge interface name
BRIDGE_NAME=br0

# network and mask will be used to assign id for 
NETWORK=192.168.10
MASK=24

# --- test_stand specific ---